@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.matiere {
  font-family: var(--font-lora), "Georgia", "Times New Roman", serif;
  background-color: #E62726;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
}